@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/* font-family: 'Kdam Thmor Pro', sans-serif; */

@import url('https://fonts.cdnfonts.com/css/impact');
/* font-family: 'Impact', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/* font-family: 'Lato', sans-serif; */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    

}

header, footer, .headertxt, .footertxt {
    font-family: 'Impact', sans-serif;
    color: darkgoldenrod;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 100px;
    /* background-color: rgb(53, 21, 93); */
    background-color: rgba(53, 21, 93, 30%);
    color: darkgoldenrod;
    font-size: 32px;
    position: fixed;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    z-index:1000;

}

#btns-fundo {
    width: 280px;
    height: 90px;
    position: fixed;
    bottom: 20px;
    right: 10px;

    z-index:1000;

    font-size: 21px;
    font-family: 'Impact', sans-serif;

    background-color: rgba(255, 255, 255, 30%);

    display: grid;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

}

.btn-fundo {
    width: 60px;
    height: 50px;
    cursor: pointer;

    background-color: gold;
    font-size: 30px;

    border-radius: 10px;
}

#btn-div {
    display: flex;
    justify-content: space-between;


}

.tela-img {
    width: 100%;
    height: 600px;
    background-color: lightskyblue;
    background-image: url('./assets/mkt-img.jpg');
    background-position: center;
    background-size: cover;

    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    color: rgba(184, 134, 11, 90%);

    -webkit-text-stroke: 1px white;

    font-family: 'Impact', sans-serif;

}

.email {
    width: 700px;
    height: 50px;

    margin-left: 100px;
    margin-top: 20px;

    font-size: 30px;

    border-radius: 10px;

    background-color: rgba(0, 150, 255, 50%);
    /* background-color: rgba(218, 165, 32, 40%); */

    color: white;

}

::placeholder {
    color: white;
    opacity: 90%;

    font-family: 'Roboto', sans-serif;
}

.email-btn {
    width: 50px;
    height: 40px;

    margin-left: -80px;

    background-color: darkgoldenrod;

    border-radius: 10px;

    font-size: 27px;

    color: white;

}

.divemailimg {
    width: 50px;
    height: 40px;

    background-image: url(https://cdn-icons-png.flaticon.com/512/7191/7191998.png);
    background-position: center;
    background-size: cover;
}

.gradient-bg {
    width: 100%;
    height: 0px;

    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: white;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gradientbg {
    width: 100%;
    height: 175px;

    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: white;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gradient-bg0, .gradient-bg3, .gradient-bg4 {
    border-top: 1px solid white;
}

.gradient-bg0 {
    background-image: linear-gradient(#749BC2, #749BC2);
}

.gradient-bg1 {
    background-image: linear-gradient(#749BC2, rgb(108, 98, 204));
}

.gradient-bg2 {
    background-image: linear-gradient(rgb(108, 98, 204), #749BC2);
}

.gradient-bg3 {
    background-image: linear-gradient(rgb(108, 98, 204), rgb(0, 0, 128));
}

.gradient-bg4 {
    background-image: linear-gradient(rgb(0, 0, 128), rgb(53, 21, 93));
}

.gradient-bg-pag {
    background-image: linear-gradient(#749BC2, rgb(53, 21, 93));
    background-image: linear-gradient(rgb(0, 150, 255), rgb(0, 0, 128));
    
}

.tela-div {
    width: 100%;
    height: 400px;
    background-color: #749BC2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-div1 {
    width: 300px;
    height: 300px;
    margin-left: 0px;

    background-image: url(https://www.mundodomarketing.com.br/wp-content/uploads/2023/07/Data-Driven-Marketing-Digital-como-gerir-projetos-de-Marketing-com-base-em-numeros-1200x900.jpg);

    background-size: cover;
    background-position: center;

    border-radius: 50px;
}

.text-div1 {
    width: 500px;
    height: 300px;
    font-size: 25px;

    font-family: 'Roboto', sans-serif;
    color: black;

    display: flex;
    align-items: center;

}

.text-div1-p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.tela-div2 {
    background-color: rgb(108, 98, 204);

    display: flex;
    flex-direction: row-reverse;
}

.img-div2 {
    width: 300px;
    height: 300px;
    margin-left: 0px;

    background-image: url(./assets/grafico-94.png);

    background-size: cover;
    background-position: center;

    border-radius: 300px;
}

.img-div3 {
    width: 300px;
    height: 300px;
    margin-left: 0px;

    background-image: url(https://img.favpng.com/11/10/23/digital-marketing-background-png-favpng-wzc1sesSu8Wv7QEKdWmN43Wdt.jpg);

    background-size: cover;
    background-position: center;

    border-radius: 150px;
    
}

.img-div4 {
    width: 300px;
    height: 300px;
    margin-left: 0px;

    background-image: url(https://www.webtrills.in/control/assets/uploads/webtrills_com/service_content/digital-marketing-services.png);
    background-size: cover;
    background-position: center;

    border-radius: 50px;
}

.img-div5 {
    width: 300px;
    height: 300px;
    margin-left: 0px;

    background-image: url(./assets/suit-people.png);
    background-size: cover;
    background-position: right;

    border-radius: 0px;
}

.tela-div3 {
    width: 100%;
    height: 715px;

    background-color: rgb(0, 0, 128);
}

.tela-div4 {
    width: 100%;
    height: 600px;

    background-color: rgb(53, 21, 93);
}

.telas-venda {
    width: 95%;
    height: 500px;

    /* background-color: lightblue; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
}

.tela-venda {
    
    width: 80%;
    height: 95%;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.29);

    color: white;

    transition: 0.09s;

    border-radius: 30px;

}

.tela-venda:hover {

    transform: scale(1.2);

}

#tela-vendaV, #tela-vendaM, #tela-vendaA {

    transition: 1s;

}

.tela-venda-img {
    width: 200px;
    height: 200px;

    background-color: rgb(108, 98, 204);
    background-position: center;
    background-size: cover;

    border-radius: 10px;

    margin: 28px 28px
}

.tela-venda-img0 {
    background-image: url(./assets/mkt-banner0.png);
}

.tela-venda-img1 {
    background-image: url(./assets/mkt-banner1.png);
}

.tela-venda-img2 {
    background-image: url(./assets/mkt-banner2.png);
}

.tela-venda-txt {

    width: 100%;
    height: 210px;

    display: grid;
    justify-items: center;
}

.tela-venda-txt h2, .tela-venda-txt h3 {
    font-family: 'Lato', sans-serif;
}

.tela-venda-txt-p {
    font-size: 20px;

}

.tela-venda-txt-span {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.tela-venda-txt-btn {

    width: 150px;
    height: 35px;

    border-radius: 10px;

    cursor: pointer;

    background-color: darkgoldenrod;
    color: white;
    text-shadow: 1px 1px black;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    font-family: 'Impact', sans-serif;

}


.footer {
    width: 100%;
    height: 230px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 21, 93);
    font-size: 20px;

    border-top: 1px solid white;
}


@media(max-width: 768px) {

    .headertxt {
        font-size: 23px;
    }

    .tela-img {
        font-size: 40px;
    }

    .email {
        width: 340px;
        font-size: 20px;
        margin-left: 25px;
    }

    .email-btn {
        margin-left: -70px;
    }

    ::placeholder {
        font-size: 23px;
    }

    .img-div1, .img-div2, .img-div3, .img-div4, .img-div5 {
        width: 125px;
        height: 125px;
    }

    .tela-div {
        height: 300px;
    }

    .text-div1 {
        width: 200px;
        height: 200px;
        font-size: 15px;
    }

    .gradient-bg, .gradientbg {
        font-size: 23px;
    }

    .gradientbg {
        height: 100px;
    }

    .telas-venda {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }

    .tela-venda {
        width: 60%;
        height: 95%;
    }

    .tela-venda-img {
        width: 100px;
        height: 100px;
        margin: 28px 65px;
    }

    .tela-venda-txt {
        height: 250px;
    }

    .tela-venda-txt-p {
        font-size: 15px;
    }

    .tela-venda-txt-span {
        font-size: 20px;
    }

    .tela-venda-txt-btn {
        margin-top: -30px;
    }

    .tela-div3 {
        height: 1200px;
        align-items: flex-start;
    }

}
